*{
	margin:0;
}
header {
	background-color: green;
	padding:10px;
	color:white;
	font-weight: bold;
}
#texte_principal{
	background-color: lightgreen;
	padding:10px;
}

form p:first-child{
	paddin-left:10px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

#myinput {
	display:block;
	padding-left:8px;
}

#btn_jouer{
	display:block;
	border:1px solid silver;
	background-color: silver;
	padding:10px;
	margin:auto;
}
#p_cpt_clic{
	text-align: center;
	margin:10px;
}
#btn_raz{
	display:block;
	border:1px solid silver;
	background-color: silver;
	margin:auto;
}